/* Variables css */
:root{
    /* Colors */
    --primary: #458FF6;
    --secondary: #E869B8;

    /* Font */
    --spartan: 'Spartan', sans-serif;
}

/* Normalize */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NavBar */
.menu-items .nav-item{
    font-size: 13px;
    font-family: var(--spartan);
    font-weight: 500;
}

.navbar-height{
    height: 56px;
}

.btn-knock{
    background-color: var(--primary);
    color: white;
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid var(--primary);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 12px;
}
.btn-knock:hover{
    background-color: white;
    border: 1px solid var(--primary);
    color: var(--primary);
    font-weight: 700;
}

.btn-knock-secondary{
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: white;
    font-weight: 600;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 12px;
}

.btn-knock-secondary:hover{
    background-color: white;
    border: 1px solid var(--secondary);
    color: var(--secondary);
    font-weight: 700;
}

.txt-col{
    font-family: var(--spartan);
}

.txt-col h3{
    font-weight: 600;
}

.img-col img{
    width: 400px;
}


@media (max-width: 992px) {
    .navbar-height{
        height: auto;
    }

    .img-col img{
        width: 80%;
        margin: 1rem auto;
    }
  }

